.top-nav { 
  
    background-color: #0D0D0D;
    height: 100px;
}

.top-nav a { 
    color: #B6CCFE;
}

.top-nav a:hover { 
    color: white;
}

.hero { 
    background-color: #0D0D0D;
    height: 600px;
    display: flex;
    flex-direction: row;
    
}

.logo-img img { 
    transform: translate(0px, -50px);
    height: 35%;
}

.profile-img {
   
    height: fit-content;
   transform: translate(-100px, 0px);
}

.profile-img img { 
   
    height: 480px;
    
}

.hero-text {
    color: white;
    height: 500px;
    width: 25%;
    margin-top: 50px;
    padding-top: 80px;
    
}

.hero-text h1 {
    font-size: 50px;
}

.hero-text p {
    font-size: 24px;
}

.hero-text button { 
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 80px;
    padding: 12px 20px;
    margin-top: 18px;
}

.work { 
    height: 1400px;
    background-color: #0D0D0D;
    
}

.work h2 { 
    padding-left: 40px;
    padding-top: 32px;
    color: white;
}

.grid { 
    display: flex;
    flex-direction: row;
}

.grid img { 
    height: 300px;
}

.grid button {
    background-color: #0D0D0D;
    border: 2px solid white;
    border-radius: 80px;
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.grid button:hover { 
    background-color: #B6CCFE;
}

.g-col-6 { 
    margin-top: 24px;
}

.hey-bestieimg  { 
    border: 2px solid #0D0D0D;
    width: fit-content;
    height: fit-content;
    padding-top: 80px;
    padding-left: 40px;
    margin-left: 80px;
    color: white;
   
   
}

.hey-bestie {
    padding-left: 40px;
    width: auto;
    height: 600px;
    padding-top: 80px;
    border: 2px solid #0D0D0D;
    margin-left: 100px;
    color: white;
}

.travel {
    
    width: 40%;
     margin-left: 88px;
color: white;
   
    padding-top: 80px;
    padding-left: 20px;
    
}

.travel h3 { 
    margin-top: 12px;
    color: white;
}

.travel-img { 
   width: 40%;
   padding-top: 80px;
   padding-left: 48px;
    margin-top: 48px;
    margin-left: 100px;
    color: white;
   

   
}

.dept-ed { 
    padding-left: 40px;
    margin-top: 48px;
    height: fit-content;
}

.dept-edtext { 
    padding-top: 80px;
    padding-left: 40px;
    margin-top: 48px;
}

.dept-edtext p { 
    width: 100%;
}

footer { 
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: #0D0D0D;
    color: white;
}

footer p { 
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid purple;
}

.footer-logo h1 {
    font-size: 64px;
    font-weight: bold;
}

.footer-social img { 
    height: 24px;
}